// basic style 
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}


// Path: aquila-features/assets/src/sass/editor.scss